<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Enjoy your game!</title>
</head>
<body>
<textarea rows="20" cols="10">这是kp界面</textarea>
<label>欢迎来到kp管理界面</label>
<input type="text" id="roomname" />
<button id="create" onclick="create();">创建房间</button>
<div>
    <div id="priavteroll">
    	<label>kp暗骰</label>
    	<button id="ro" onclick="proll();">roll点</button>
    	<label>骰子参数</label><input type="text" id="para" />
    	<ul id="dice"></ul>
    </div>
    <div id="rolldiv">
    	<label>此处掷骰</label>
    	<button id="ro" onclick="roll();">roll点</button>
    	<label>骰子参数</label><input type="text" id="para" />
    	<label>输入npc名字</label><input type="text" id="name" />
    	<ul id="dice"></ul>
    </div>
</div>
<script th:src="@{sockjs.min.js}"></script>
<script th:src="@{stomp.min.js}"></script>
<script th:src="@{jquery.js}"></script>
<script type="text/javascript">
	function roll(){
		var para = $('#para').val();
		var name = $('#name').val();
		stompClient.send("/roll", {},JSON.stringify({'para':para, 'name':name}));
	}
</script>
</body>
</html>